.chatheader-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 10px;
  margin-right: 10px;
}

.username-text {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  flex-grow: 1;
}

.chatheader-container img {
  flex-shrink: 0;
}
