.re-details-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  margin: 0px 5px;
  border-left: 1px solid #e0e0e0;
}

.close-icon-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  cursor: pointer;
}

.receiver-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  border-bottom: #e0e0e0 1px solid;
}

.receiver-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.receiver-name {
  margin-bottom: 0;
}

.shared-media {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.custom-accordion {
  width: 90%;
  margin-top: 10px;
}

.custom-accordion .accordion-button {
  background-color: #f3f3f9 !important;
  color: #000000 !important;
}
.custom-accordion .accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #ffffff;
  color: #000000;
}

.custom-accordion .accordion-body {
  max-height: 20vh !important;
  overflow-y: auto !important;
  overflow-x: hidden;
  padding-right: 15px;
  position: relative;
  background-color: #f3f3f9;
  border-color: #e0e0e0;
}

.custom-accordion .accordion-body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.custom-accordion .accordion-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-accordion .accordion-body::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 10px;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  margin: 10px 10px 0px 10px;
  margin-top: auto;
  margin-bottom: 10px;
  border-top: 1px solid #e0e0e0;
}

.block-button {
  width: 100%;
  margin-bottom: 10px;
}

.logout-button {
  width: 100%;
}
