.add-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f2efff;
  border-bottom: 1px solid #e0e0e0;
}

.filter-btn {
  align-self: flex-start;
  background-color: #ffffff;
  color: #6c757d;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 10px;
}

.filter-btn.selected {
  background-color: #724ff980;
  color: #000000;
}

.add-icon {
  margin-left: auto;
  cursor: pointer;
}

.chat-panel-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.chat-panel-content {
  flex-grow: 1;
  max-height: 70vh;
  overflow-y: auto;
}

.chat-panel-content::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.chat-panel-content::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 10px;
}

.chat-panel-content::-webkit-scrollbar-track {
  background-color: transparent;
}
